{% extends "base.html" %}
{% block title %}Summary Report{% endblock %}
{% block content %}
<h2>Summary Report</h2>

{% if summary %}
<table border="1">
    <tr>
        <th>Cust State</th>
        <th>Cust Pin</th>
        <th>DPD Sum</th>
    </tr>
    {% for row in summary %}
    <tr>
        <td>{{ row.Cust_State }}</td>
        <td>{{ row.Cust_Pin }}</td>
        <td>{{ row.DPD }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No data available to display.</p>
{% endif %}

{% endblock %}